@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
:root {
  --c1: #F0941D;
  --c2: #FFEED8;
}
.spinner div {
  border-top: 5px solid var(--c1);
}
#header #headerRight .menu:hover {
  color: var(--c1);
}
#header #headerRight .iconButton i {
  color: var(--c1);
}
#header #headerRight #profile .main:hover span {
  color: var(--c1);
}
#header #headerRight #profile .main:hover i {
  background: var(--c2);
}
#header #headerRight #profile .main i {
  color: var(--c1);
}
#header #headerRight #profile .dropdown a:hover {
  color: var(--c1);
  background-color: var(--c2);
}
#header #headerRight #buttonCart {
  background: var(--c1);
}
#header #headerRight #buttonCart:hover {
  background: var(--c1);
}
#footer #left a:hover {
  color: var(--c1);
}
#footer #center i {
  color: var(--c1);
}
#footer #right a:hover {
  color: var(--c1);
}
#footer #right a:-webkit-any-link:hover {
  color: var(--c1);
}
.modal#popNotice .modal-content .submit {
  background: var(--c1);
}
.modal#popNotice .modal-content .submit:hover {
  background: var(--c1);
}
.modal#popInfo .modal-content .content div {
  color: var(--c1);
}
.modal#popInfo .modal-content .content a:hover {
  color: var(--c1);
}
.modal#popSetting .modal-content #mode .mode.active {
  background-color: var(--c1);
}
.modal#popSetting .modal-content #mode .mode:hover:not(.active) {
  background-color: var(--c2);
}
.modal#popSetting .modal-content .delivery .address .left .icon {
  color: var(--c1);
}
.modal#popSetting .modal-content .delivery .address a:hover {
  color: var(--c1);
}
.modal#popSetting .modal-content .delivery .action {
  color: var(--c1);
  background-color: var(--c2);
}
.modal#popSetting .modal-content .delivery .action:hover {
  color: var(--c2);
  background-color: var(--c1);
}
.modal#popSetting .modal-content .time .left .select:hover {
  background: var(--c2);
  border: 2px solid var(--c2);
}
.modal#popSetting .modal-content .time .left .select .icon {
  color: var(--c1);
}
.modal#popSetting .modal-content .time .action {
  color: var(--c1);
  background-color: var(--c2);
}
.modal#popSetting .modal-content .time .action:hover {
  color: var(--c2);
  background-color: var(--c1);
}
.modal#popSetting .modal-content .chair,
.modal#popSetting .modal-content .note div {
  color: var(--c1);
}
.modal#popSetting .modal-content .submit {
  background: var(--c1);
}
.modal#popSetting .modal-content .submit:hover {
  background: var(--c1);
}
.modal#popTime .modal-content .container .select:hover {
  background: var(--c2);
}
.modal#popTime .modal-content .container .select i {
  color: var(--c1);
}
.modal#popTime .modal-content .container .submit {
  background: var(--c1);
}
.modal#popTime .modal-content .container .submit:hover {
  background: var(--c1);
}
.modal#popTime .modal-content .container .submit.secondary {
  background: var(--c2);
}
.modal#popTime .modal-content .container .submit.secondary:hover {
  background: var(--c1);
}
.modal#popLocation .modal-content .address .container .icon {
  color: var(--c1);
}
.modal#popLocation .modal-content .address a:hover {
  color: var(--c1);
}
.modal#popLocation .modal-content .note div {
  color: var(--c1);
}
.modal#popLocation .modal-content .submit {
  background: var(--c1);
}
.modal#popLocation .modal-content .submit:hover {
  background: var(--c1);
}
.modal#popVerify .modal-content .container .icon {
  color: var(--c1);
}
.modal#popVerify .modal-content .button {
  background: var(--c1);
}
.modal#popVerify .modal-content .button:hover {
  background: var(--c1);
}
.modal#popVerify .modal-content .button.secondary {
  background: var(--c2);
}
.modal#popProfile .modal-content .container .icon {
  color: var(--c1);
}
.modal#popProfile .modal-content .button {
  background: var(--c1);
}
.modal#popProfile .modal-content .button:hover {
  background: var(--c1);
}
.modal#popProfile .modal-content .button.secondary {
  background: var(--c2);
}
.modal#popCart .modal-content .container .item .left .area .icon {
  color: var(--c1);
}
.modal#popCart .modal-content .container .addon label {
  /* When the radio button is checked, add a blue background */
}
.modal#popCart .modal-content .container .addon label .main .right .number .icon {
  color: var(--c1);
}
.modal#popCart .modal-content .container .addon label .main .right a {
  color: var(--c1);
}
.modal#popCart .modal-content .container .addon label input:checked ~ .checkmark {
  background-color: var(--c1);
}
.modal#popCart .modal-content .container .addon .checkmark.radio {
  border: 2px solid var(--c1);
}
.modal#popCart .modal-content .container .addon .checkmark.checkbox {
  border: solid 2px var(--c1);
}
.modal#popCart .modal-content .container .note div {
  color: var(--c1);
}
.modal#popCart .modal-content .submit {
  background: var(--c1);
}
.modal#popCart .modal-content .submit:hover {
  background: var(--c1);
}
.modal#popItem .modal-content .container .top .title .remark {
  background: var(--c2);
}
.modal#popItem .modal-content .container .top .title .remark span {
  color: var(--c1);
}
.modal#popItem .modal-content .container .top .area label {
  /* When the radio button is checked, add a blue background */
}
.modal#popItem .modal-content .container .top .area label .main .right .number .icon {
  color: var(--c1);
}
.modal#popItem .modal-content .container .top .area label .main .right a {
  color: var(--c1);
}
.modal#popItem .modal-content .container .top .area label input:checked ~ .checkmark {
  background-color: var(--c1);
}
.modal#popItem .modal-content .container .top .area .checkmark.radio {
  border: 2px solid var(--c1);
}
.modal#popItem .modal-content .container .top .area .checkmark.checkbox {
  border: solid 2px var(--c1);
}
.modal#popItem .modal-content .container .top .note div {
  color: var(--c1);
}
.modal#popItem .modal-content .container .buttom .icon {
  color: var(--c1);
}
.modal#popItem .modal-content .container .buttom .submit {
  background: var(--c1);
}
.modal#popItem .modal-content .container .buttom .submit:hover {
  background: var(--c1);
}
#portalMain #banner .dots .active {
  background-color: var(--c1);
}
#portalMain #info #store #text .content {
  color: var(--c1);
}
#portalMain #info #store #buttons .icon {
  background: var(--c1);
}
#portalMain #info #store #buttons .icon:hover {
  background: var(--c1);
}
#portalMain #info #buttonSetting:hover {
  border: 2px solid var(--c2);
}
#portalMain #info #buttonSetting .container .icon {
  color: var(--c1);
}
#portalMain #info #mode .mode.active {
  background-color: var(--c1);
}
#portalMain #info #mode .mode:hover:not(.active) {
  background-color: var(--c2);
}
#portalMain #info #address .left .icon {
  color: var(--c1);
}
#portalMain #info #address #location:hover {
  color: var(--c1);
}
#portalMain #info #address #confirm {
  background: var(--c1);
}
#portalMain #info #address #confirm:hover {
  background: var(--c1);
}
#portalMain .mainContainer .stores .store:hover {
  border: 2px solid var(--c2);
}
#portalMain .mainContainer .stores .store .image .discount {
  background-color: var(--c1);
}
#portalMain .mainContainer .stores .store .info .type div {
  color: var(--c1);
}
#main .noticeBanner {
  background-color: var(--c1);
}
#main #banner .dots .active {
  background-color: var(--c1);
}
#main #info #store #text .content {
  color: var(--c1);
}
#main #info #store #buttons .icon {
  background: var(--c1);
}
#main #info #store #buttons .icon:hover {
  background: var(--c1);
}
#main #info #buttonSetting:hover {
  border: 2px solid var(--c2);
}
#main #info #buttonSetting .container .icon {
  color: var(--c1);
}
#main #category::-webkit-scrollbar-thumb {
  background: var(--c1);
}
@media (hover: hover) and (pointer: fine) {
  #main #category a:hover:not(.active) {
    color: var(--c1);
    background: var(--c2);
  }
}
#main #category .active {
  background-color: var(--c1);
  border: 1px solid var(--c1);
}
#main .mainContainer #search i {
  color: var(--c1);
}
#main .mainContainer .items .item:hover {
  border: 2px solid var(--c2);
}
#main .mainContainer .items .item .info .title .remark {
  color: var(--c1);
  background: var(--c2);
}
#paymentMain #left .container .icon {
  color: var(--c1);
}
#paymentMain #right #top .area .dropdown .arrow {
  color: var(--c1);
}
#paymentMain #right #top .area .switch {
  /* Create a custom radio button */
  /* When the radio button is checked, add a blue background */
}
#paymentMain #right #top .area .switch .container:hover {
  background: var(--c2);
}
#paymentMain #right #top .area .switch .checkmark {
  border: 2px solid var(--c1);
}
#paymentMain #right #top .area .switch .container input:checked ~ .checkmark {
  background-color: var(--c1);
}
#paymentMain #right #top .area .checkbox {
  /* Create a custom checkbox */
  /* When the checkbox is checked, add a blue background */
}
#paymentMain #right #top .area .checkbox .checkmark {
  border: solid 2px var(--c1);
}
#paymentMain #right #top .area .checkbox .container input:checked ~ .checkmark {
  background-color: var(--c1);
}
#paymentMain #right #top .area .item .icon {
  color: var(--c1);
}
#paymentMain #right #bottom .policy a {
  color: var(--c1);
}
#paymentMain #right #bottom #submit {
  background: var(--c1);
}
#paymentMain #right #bottom #submit:hover {
  background: var(--c1);
}
#paymentMain #right #bottom #submit > span {
  background: var(--c1);
}
#paymentMain #right #bottom #submit .price {
  background: var(--c1);
}
#orderMain #left #top #info #number {
  border: solid 3px var(--c1);
}
#orderMain #left #top #info i {
  color: var(--c1);
}
#orderMain #left #top #states .state .done {
  background-color: var(--c1);
}
#orderMain #left #top #states .state .now {
  background-color: var(--c1);
}
#orderMain #left #top #states .done {
  color: var(--c1) !important;
}
#orderMain #left #top #states .now {
  color: var(--c1) !important;
}
#orderMain #left #restaurant .icon {
  color: var(--c1);
}
#orderMain #right .container .icon {
  color: var(--c1);
}
#orderMain #right #submit {
  background-color: var(--c1);
}
#listMain .item .left span {
  color: var(--c1);
}
#listMain .item .center hr {
  border: 0.5px solid var(--c1);
}
#listMain .item .right .button.payment {
  background: var(--c1);
}
#listMain .item .right .button.payment:hover {
  background: var(--c1);
}
#listMain .item .right .button.again:hover {
  background: var(--c1);
}
